:root {
    /* COLORS */
    --light: #faf4ed;
    --dark: #26233a;
    --blue: #286983;
    --green: #56949f;
    --orange: #ea9d34;
    --pink: #b4637a;
    --purple: #907aa9;

    /* FONTS */
    --bogart: "Bogart", serif;
    --poppins: "Poppins", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--dark);
}

body {
    background-color: var(--light);
    font-family: var(--bogart);
}





